.btn-red {padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 20px;
}

.btn-scary {
	padding: 20px 4px;
    background-color: black
    color: red;
    border-radius: 20px;
}

.btn-not-scary {
	padding: 20px 4px;
    background-color: black
    color: red;
    border-radius: 20px;
}

.btn-very-scary {
	padding: 20px 4px;
    background-color: black
    color: red;
    border-radius: 20px;
}